<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages%}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button type="submit">Entrar</button>
        </form>
        <div class="link">
            <p>Não tem uma conta? <a href="/criar-conta">Criar conta</a></p>
        </div>
    </div>
</body>
</html>